.square-row {
    height:100px;
    width:480px;
    padding:10px 0px;
}
.container {
    height:480px;
    width:480px;
    padding:10px 10px;
    background-color:#777777;
}
.square {
    height:100px;
    width:100px;
    margin:0px 10px;
    background-color:#555555;
    display:inline-block;
    border-radius:5px;
}
.square.number {
    background-color:#FFFFFF;
}
.content-holder {
    display: table;
    height:100%;
    width:100%;
    text-align: center;
}
.content {
    display: table-cell;
    vertical-align: middle;
    font-family:"Arial Black", Gadget, sans-serif;
    font-size:xx-large;
}
